.navbar{
	min-height: 110px;
	width: 100%;
	background: #008de7;
	background: -moz-linear-gradient(top, #008de7 0%, #008de7 36%, #0083db 65%, #0084d7 66%, #017ed2 80%, #007cce 81%, #017bce 83%, #017ac9 86%, #007aca 89%, #0277c4 94%, #0077c5 100%);
	background: -webkit-linear-gradient(top, #008de7 0%,#008de7 36%,#0083db 65%,#0084d7 66%,#017ed2 80%,#007cce 81%,#017bce 83%,#017ac9 86%,#007aca 89%,#0277c4 94%,#0077c5 100%);
	background: linear-gradient(to bottom, #008de7 0%,#008de7 36%,#0083db 65%,#0084d7 66%,#017ed2 80%,#007cce 81%,#017bce 83%,#017ac9 86%,#007aca 89%,#0277c4 94%,#0077c5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008de7', endColorstr='#0077c5',GradientType=0 );
	border-radius:0;
	border: 0;
	margin-bottom: 0;
	@media (max-width: 767px){
		min-height: auto;
		padding: 6px 0 10px;
	}
	.navbar-collapse{
		@media (max-width: 767px){
			border-top-color: #fff;
			margin-top: 15px;
		}
	}
	.navbar-toggle{
		@media (max-width: 767px){
			margin-top: 15px;
		}
	}
	.navbar-brand{
		width: 235px;
		height: 70px;
		font-size: 0;
		background: url(../images/logo.png) no-repeat;
		margin: 0 ;
		padding: 0;
		line-height: 0;
		text-indent: -9999px;
		overflow: hidden;
		outline: none;
		position: absolute;
		left: 15px;
		margin: 0 !important;
		top: 6px;
		@media (max-width: 1130px){
			width: 60px;
			height: 70px;
			background: url(../images/logo-mob.png) no-repeat;
		}
		@media (max-width: 767px){
			position: static;
			margin: 0 0 0 15px !important;
			width: 43px;
			height: 50px;
			background-size: cover;
		}
	}
	.container{
		max-width: 1200px !important;
		width: 100% !important;
		position: relative;
	}
	a{
		border-bottom: 0;
	}
	.navbar-toggle .icon-bar{
		background: #fff;
	}
	.navbar-nav{
		padding: 42px 0 0 0;
		max-width: 600px;
		width: 100%;
		float: none;
		margin: 0 auto;
		@media (max-width: 767px){
			padding-top: 15px;
			max-width: none;
		}
		> li{
			padding: 0;
			margin: 15px;
			&.active > a{
				border-bottom: 1px solid rgba(#fff,.8) !important;
			}
			&:first-child{
				margin-left: 0;
			}
			&.open{
				background: none !important;
			}
			> a,&.open > a{
				padding: 0;
				background: none !important;
				&:hover,&:focus,&:active{
					background: none !important;
					color: #fff;
					border-bottom: 1px solid rgba(#fff,.8) !important;
				}
			}
			@media (max-width: 767px){
				&.active > a{
					border-bottom: 0 !important;
					background: #2774be !important;
				}
				margin: 0 !important;
				> a,&.open a{
					padding: 5px 15px;
					border-bottom: 0 !important;

					&:hover,&:focus,&:active{
						border-bottom: 0 !important;
					}
				}
				ul{
					padding-left: 20px;
					li.dropdown-header{
						color: #fff !important;
						padding-left: 15px !important;
					}
					a{
						color: #fff;
						&:hover{
							background: none;
						}
					}
				}
			}
			li{
				padding: 0;
				margin: 0;
				&.dropdown-header{
					padding: 3px 20px;
				}
				&.divider{
					margin: 9px 0;
				}
				&:before{
					content: none;
				}
			}
			&:before{
				content: none;
			}
			> a{
				color: #fff;
				text-transform: uppercase;
				font-family: 'Proxima Nova Medium';
			}
		}
	}
}
.call-h{
	background: #2774be;
	padding: 35px 35px 0;
	height: 110px;
	position: absolute;
	top: 0;
	right: 15px;
	@media (max-width: 767px){
		position: static;
		float: none !important;
		width: auto;
		padding: 15px;
		padding-bottom: 0;
		height: auto;
		margin: 15px -15px 0;
	}
	a{
		.fa{
			position: relative;
			bottom: -2px;
		}
		color: #fff;
		font: 14px/20px 'Proxima Nova Medium';
		&:hover,&:active,&:focus{
			color: #fff;
			border-bottom-color: transparent;
		}
	}
	span{
		display: block;
		a{
			border-bottom: 1px solid rgba(#fff,.3);
		}
	}
}