@import
'_sprite.scss',
'_header',
'_sprite-svg',
'_footer';
@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
		url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Semibold';
	src: url('../fonts/ProximaNova-Semibold.eot');
	src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Semibold.woff') format('woff'),
		url('../fonts/ProximaNova-Semibold.ttf') format('truetype'),
		url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Medium';
	src: url('../fonts/ProximaNova-Medium.eot');
	src: url('../fonts/ProximaNova-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Medium.woff') format('woff'),
		url('../fonts/ProximaNova-Medium.ttf') format('truetype'),
		url('../fonts/ProximaNova-Medium.svg#ProximaNova-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

$font-reg:'Proxima Nova Rg';
$font-sb:'Proxima Nova Semibold';
$font-md:'Proxima Nova Medium';
$primary-color: #8b8b8b;

body{
	font: 16px/19px $font-reg;
	color: $primary-color;
	min-width: 320px;
}
a{
	color: #2e8ce4;
	border-bottom: 1px solid rgba(#2e8ce4,.3);
	text-decoration: none;
	&:hover,&:active,&:focus{
		border-bottom-color: transparent;
		text-decoration: none;
		color: #2e8ce4;
	}
}
h1{
	font:35px/42px $font-sb;
	color: #000;
	margin: 0 0 25px 0;
	padding-bottom: 20px;
	position: relative;
	&:after{
		content: '';
		display: block;
		width: 204px;
		height: 6px;
		position: absolute;
		bottom: 0;
		left: 0;
		background: #008de8;
		background: -moz-linear-gradient(left, #008de8 0%, #008de8 8%, #0088e1 14%, #006eb9 37%, #0069b0 44%, #0069b0 100%);
		background: -webkit-linear-gradient(left, #008de8 0%,#008de8 8%,#0088e1 14%,#006eb9 37%,#0069b0 44%,#0069b0 100%);
		background: linear-gradient(to right, #008de8 0%,#008de8 8%,#0088e1 14%,#006eb9 37%,#0069b0 44%,#0069b0 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008de8', endColorstr='#0069b0',GradientType=1 );
	}
}
h2{
	margin: 0;
	font: 26px/30px $font-reg;
	color: #000;
	padding-bottom: 15px;
}
h3{
	margin: 0;
	color: #000;
	font: 20px/22px $font-reg;
}
h4{
	margin: 0;
	font: 18px/21px $font-reg;
	color: #000;
	padding-bottom: 20px;
	span{
		background: #d5e8fa;
		padding: 0 2px;
	}
}
figure{
	display: block;
	text-align: center;
	padding: 10px 0 40px;
	img{
		max-width: 100%;
		display: block;
		height: auto;
		margin: 0 auto;
	}
	figcaption{
		text-align: center;
		font-size: 14px;
		line-height: 16px;
		padding-top: 14px;
	}
}
p{
	margin-bottom: 19px;
	span,strong{
		color: #000;
	}
	strong{
		font-family: $font-md;
	}
}
ul{
	margin: 0 0 0 37px;
	@media (max-width: 430px){
		margin-left: 0;
	}
	padding:15px 0;
	list-style: none;
	li{
		padding-left: 25px;
		position: relative;
		margin-bottom: 20px;
		&:before{
			content: '';
			position: absolute;
			top: 8px;
			left: 0;
			width: 5px;
			height: 5px;
			border-radius:50%;
			background: #2e8ce4;
		}
	}
}
ol{
	margin: 0 0 0 23px;
	padding: 15px 0;
	list-style-type: none;
	@media (max-width: 430px){
		margin-left: 0;
	}
	> li{
		counter-increment: step-counter;
		padding-bottom: 19px;
		position: relative;
		padding-left: 57px;
		&:before{
			content: counter(step-counter);
			width: 30px;
			height: 30px;
			position: absolute;
			top: -4px;
			left: 0;
			text-align: center;
			border-radius:50%;
			color: #fff;
			font-size: 18px;
			line-height: 30px;
			background: #2e8ce4;
		}
		ul{
			margin: 20px 0 0 20px;
			padding: 0;
			li{
				padding-left: 16px;
				margin:0;
			}
		}
	}
}

blockquote{
	padding: 0;
	margin: 10px 0 20px;
	font-size: 18px;
	line-height: 22px;
	color: #000;
	border: 0;
	position: relative;
	@media (max-width: 680px){
		padding-left: 30px;
		&:before{
			left: 0 !important;
		}
	}
	&:before{
		content: '';
		width: 3px;
		position: absolute;
		top: 0;
		left: -30px;
		height: 100%;
		background: #000;
	}
	q{
		font-size: 18px;
		line-height: 22px;
		color: #000;
		&:after,&:before{
			content: none;
		}
	}
}
.icon-home{
  @include sprite($bank);
}
.content-center{
	width: 100%;
	margin: 0 auto;
	max-width: 600px;
}
main{
	padding: 0 15px 150px;
	@media (max-width: 900px){
		padding-bottom: 100px;
	}
}
.custom-light-box{
	width: 100%;
	max-width: 500px;
}
.form-control{
	border-radius:0;
	border-color: #ababab;
	font-size: 17px;
	color: #ababab;
	height: 38px;
}
.btn-default{
	background: #2e8ce4;
	border-radius:0;
	text-transform: uppercase;
	font-size: 17px;
	color: #fff;
	border: 0;
	box-shadow: 5px 5px 10px 0px rgba(#000,.26);
	&:hover,&:active,&:focus{
		background: #2e8ce4 !important;
		color: #fff !important;
		border: 0;
		opacity: .9;
	}
}
.breadcrumbs{
	margin: 0;
	padding: 40px 0 25px;
	list-style: none;
	li{
		font-size: 16px;
		line-height: 20px;
		margin: 0;
		padding: 0 40px 0 0;
		display: inline-block;
		vertical-align: middle;
		&:first-child{
			padding-left: 0;
			a{
				color: #2e8ce4;
			}
		}
		&:last-child{padding-right: 0;}
		&:before,&:last-child:after{
			content: none;
		}
		&:after{
			content: '>';
			position: absolute;
			top: 1px;
			right: 15px;
			font-size: 16px;
			line-height: 20px;
			color: #000;
		}
		&:first-child{
			font-size: 22px;
		}
		a{
			border-bottom: 0;
			color: #000;
		}
	}
}
.page-list{
	margin: 0;
	padding: 0 0 30px 0;
	list-style: none;
	font-size: 18px;
	line-height: 21px;
	li{
		padding: 0;
		margin: 0;
		&:before{content: none;}
		a{
			color: #2e8ce4;
		}
	}
}
.shadow-box{
	box-shadow: 5px 5px 16px 0px rgba(#000,.30);
	padding: 17px 45px 25px 10px;
	margin-top: 100px;
	&.etc{
		padding-bottom: 10px;
		p{
			margin: 10px 0 0 0;
		}
	}
	@media (max-width: 767px){
		padding-left: 15px;
		padding-right: 15px;
		.img-part{
			padding-bottom: 15px;
		}
	}
	.img-part{
		img{
			max-width: 100%;
			display: block;
			margin: 0 auto;
			height: auto;
			border-radius:50%;
			box-shadow: 5px 5px 13px 0px rgba(#000,.39);
		}
	}
	h3{
		font-size: 17px;
		line-height: 20px;
	}
	h4{
		font-family: $font-md;
		a{
			color: #000;
			border-bottom: 0;
		}
	}
	p{
		color: #ababab;
		font-size: 17px;
		line-height: 20px;
	}
}
.row-custom-8{
	margin: 0 -8px;
	[class*="col-"]{
		padding-left: 8px;
		padding-right: 8px;
	}
}
.numbers{
	h3{
		color: #000;
		font: 26px/28px $font-md;
		padding-bottom: 20px;
	}
	.num-col{
		display: table;
		margin: 0 auto;
		@media (max-width: 600px){
			display: block;
		}
		.cl{
			display: table-cell;
			vertical-align: top;
			padding: 10px 15px 40px;
			border-left: 1px solid #efefef;
			@media (max-width: 600px){
				display: block;
				width: 100%;
				border-left: 0;
				border-bottom: 1px solid #efefef;
				padding-bottom: 20px;
				&:last-child{
					border-bottom: 0;
				}
				span{
					br{
						display: none;
					}
				}
			}
			&:first-child{
				border-left: 0;
			}
			strong{
				color: #2e8ce4;
				font: 55px/58px $font-sb;
				display: block;
				padding-bottom: 10px;
			}
			span{
				display: block;
				font: 20px/24px $font-md;
				color: #000;
			}
			&.font-40{
				strong{
					font-size: 40px;
				}
			}
		}
	}
}
.team{
	margin-top: 80px;
	h3{
		color: #000;
		font: 26px/28px $font-md;
		padding-bottom: 40px;
	}
	.team-item{
		padding-bottom: 36px;
		p{
			@media (max-width: 767px){
				text-align: center;
			}
		}
	}
	.t-i-img{
		text-align: center;
		strong{
			font: 20px/24px $font-md;
			color: #000;
			padding-top: 12px;
			display: block;
		}
		img{
			margin: 0 auto;
			max-width: 100%;
			display: block;
			height: auto;
			border-radius:50%;
			box-shadow: 5px 5px 13px 0px rgba(#000,.39);
		}
	}
	.t-i-text{padding-top: 28px;}
}
.list-awesome{
	margin: 0;
	padding: 20px 0  10px 40px;
	list-style: none;
	@media (max-width: 430px){
		padding-left: 0;
	}
	li{
		padding: 0 0 20px 43px;
		margin: 0;
		.fa{font-size: 22px;color: #2e8ce4; position: absolute;top: 0;left: 0;}
		&:before{
			content: none;
		}
	}
}
.data{
	color: #2e8ce4;
	strong{
		display: block;
		text-align: center;
		font-size: 126px;
		line-height: 130px;
	}
	span{
		font-size: 46px;
		line-height: 48px;
		display: block;
		position: relative;
		top: -25px;
	}
}
.data-col{
	p{
		border-top: 1px solid #dcdcdc;
		margin-top: -20px;
		padding-top: 10px;
	}
}
.data-col-txt{
	padding-top: 15px;
}
.term-block{
	padding-bottom: 30px;
}
.asap-block{
	padding-bottom: 50px;
	h3{
		font-size: 21px;
		line-height: 23px;
		padding-bottom: 20px;
	}
	p{
		margin: 0;
	}
	strong{
		display: block;
		font: 22px/24px $font-md;
		color: #2e8ce4;
	}
	span{
		display: block;
		font-size: 16px;
		line-height: 18px;
	}
	.col-cost{
		padding-top: 5px;
		padding-bottom: 5px;
		span{
			position: relative;
			top: -3px;
		}
	}
	.asap-item{
		padding: 12px 0;
	}
	.col-txt{
		border-left: 1px solid #dcdcdc;
		padding-top: 5px;
		padding-bottom: 5px;
		min-height: 40px;
	}
	@media (max-width: 767px){
		.col-cost{
			text-align: left;
		}
		.col-txt{
			border: 0;
		}
	}
}
.translation-box{
	position: relative;
	margin: 50px 0 40px;
	img{
		max-width: 100%;
		display: block;
		height: auto;
		@media (max-width:600px){
			margin: 0 auto;
		}
	}
	.holder{
		position: absolute;
		width: 100%;
		max-width: 60%;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 50%;
		transform:translateY(-50%);
		@media (max-width:600px){
			position: static;
			transform:none ;
			max-width: none;
			.t-txt-info{
				padding-left: 20px;
				padding-right: 20px;
			}
			.t-txt-info,.t-txt-info p{
				transform:none;
				text-align: left !important;
				position: static;
			}
		}
	}
	.t-txt-info{
		background: #2e8ce4;
		padding: 12px 52px 24px 0;
		transform-origin: 0 100%; 
		transform: skewX(15deg);
		position: relative;
		right: -27px;
    	p{
    		margin: 0;
			color: #fff;
			font-size: 24px;
			line-height: 32px;
			transform: skewX(-15deg);
    	}
	}
}
.list-icons{
	margin: 0;
	padding: 30px 0 20px 90px;
	@media (max-width:430px){
		padding-left: 0;
	}
	li{
		padding: 0 0 0 68px;
		margin: 0 0 40px 0;
		&:before{content: none;}
		img{
			position: absolute;
			left: 0;
			top: 50%;
			transform:translateY(-50%);
		}
	}
}
.promo{
	background: #e5e5e5;
	display: table;
	width: 100%;
	padding: 25px 0;
	margin: 40px 0 80px 0;
	strong{
		font-size: 18px;
		line-height: 20px;
		font-weight: normal;
		color: #000;
	}
	strong,ul{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		width: 50%;
	}
	ul{
		text-align: left;
		padding: 0;
		margin: 0;
		font-size: 0;
		li{
			padding: 0;
			margin: 0;
			display: inline-block;
			padding-left: 18px;
			&:first-child{
				padding-left: 0;
			}
			&:before{content: none;}
			img{
				// display: block;
			}
		}
	}
	@media (max-width:550px){
		display: block;
		strong,ul{
			display: block;
			width: 100%;
			text-align: center;
		}
		ul{
			padding-top: 15px;
			li{
				padding: 0 10px;
				&:first-child{
					padding-left: 10px;
				}
			}
		}
	}
}
.lang-columns{
	display: table;
	width: 100%;
	padding: 40px 0;
	.column{
		display: table-cell;
		vertical-align: top;
		width: 33.33%;
		padding-bottom: 64px;
		position: relative;
		ul{
			padding:0;
			display: table;
			margin: 0 auto;
			li{
				margin: 0;
				padding: 0 0 17px 0;
				&:last-child{
					padding-bottom: 0;
				}
				&:before{content: none;}
				img,span{
					display: inline-block;
					vertical-align: middle;
				}
				span{
					font-size: 16px;
					line-height: 20px;
					color: #000;
					padding-left: 5px;
				}
			}
		}
		.cost{
			text-align: center;
			display: block;
			width: 100%;
			color: #2e8ce4;
			font: 22px/24px $font-md;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
	@media (max-width:500px){
		display: block;
		.column{
			display: block;
			width: 100%;
			text-align: left;
			padding-bottom: 30px;
			.cost{
				bottom: auto;
				top: 0;
				text-align: right;
			}
			ul{
				display: block;
				li:last-child{
					padding-bottom: 17px;
				}
			}
		}
	}
}
.shadow-box-contact{
	padding:35px 50px 0;
	background: #f5f5f5;
	margin: -130px 0 0;
	position: relative;
	z-index: 3;
	.txt-part{
		p{
			color: #8b8b8b;
		}
	}
	@media (max-width:767px){
		padding: 15px 15px 0 15px;
	}
}
.contact-list{
	ul{
		padding:0;
		font-size: 0;
		max-width: 80%;
		margin: 0 auto;
		li{
			padding: 0 0 10px 0;
			margin: 0;
			width: 50%;
			display: inline-block;
			&:before{
				content: none;
			}
			.fa{
				font-size: 27px;
				padding-right: 16px;
				display: inline-block;
				vertical-align: middle;
			}
			a{
				border-bottom: 0;
				span{
					color: #8b8b8b;
					font-size: 16px;
					line-height: 20px;
					display: inline-block;
					vertical-align: middle;
				}

			}
			a[href*="mail"]{
				span{
					color: #2e8ce4;
					border-bottom: 1px solid rgba(#2e8ce4,.3);
				}
				&:hover{
					span{
						border-bottom-color:transparent;
					}
				}
			}
			@media (max-width:767px){
				display: block;
				width: 100%;
			}
		}
		@media (max-width:767px){
			max-width: none;
		}
	}
}
.contact-holder{
	margin: 10px -50px 0;
	@media (max-width:767px){
		margin-left: -15px;
		margin-right: -15px;
	}
	.c-hold{
		display: table;
		background: #fff;
		table-layout: fixed;
		width: 100%;
		@media (max-width:450px){
			display: block;
			padding: 20px 0;
		}
	}
	.col{
		width: 50%;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		height: 227px;
		& + .col{
			border-left: 1px solid #ebebeb;
		}
		p{
			margin: 0;
		}
		strong{
			display: block;
			color: #000;
			font-size: 20px;
			line-height: 23px;
			padding-top: 7px;
		}
		.fa{
			font-size: 37px;color: #2e8ce4;padding: 0 0 20px;
		}
		@media (max-width:450px){
			height: auto;
			display: block;
			text-align: center;
			width: 100%;
			padding: 15px;
		}
	}
}
.map-holder{
	height: 490px;
	margin: 0 -15px;
	background: #000;
	@media (max-width:450px){
		height: 300px;
	}
}